*{
    margin:0;
    padding: 0;
}

body {
    background-image: url(pelis2.jpg);
    background-size: auto;
    background-position: center;   
}

.contenedor{
    width: 1000px;
    margin:auto;
    padding: 0;
}
.navegador { 
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.menu{
    /*height: 3%;*/
    background-color: white;
    background-position: center;
    text-align: center;
    /*border-style: groove;*/ 
    position: sticky;
    top: 0;
    z-index: 1;
}

.encabezado{
    text-align: center;
    /*height: 7%;*/
    width: 100%;
    background-color: white;
    /*border-style: groove;*/
}

.logo{
    position:absolute;
    margin-left: 1%;
}

.section{
    margin-top: 1em;
    /*float: left;*/
    margin-left: 2%;
    /*height: 80%;*/
    /*width: 71%;*/
    background-color: white;
    border-style: double;
}

.info{
    margin-top: 1em;
    align-content: right;
    /*float: right;*/
    /*margin-right: 2%;*/
    /*width: 23%;*/
    background-color: white;
    border-style: solid;
    border-width: 2px;
}

.footer{
    float: left;
    height: 5%;
    width: 96%;
    text-align: left;
    margin-left: 2%;
    margin-top: 1em;
}

.imagen{
    vertical-align: middle;
    float: center;
    margin-left: 15px;
    margin-top:17px;
    margin-right: 10px;
}

.imagenInfo{
    /*float: center;*/
    margin-left: 15%;
    height:"250px";
    width:"170px";
}

.articulo{
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 95%;
    /*height: 23%;*/
    border-radius: 1em;
    background-color:beige;
    padding: 10px;
    border-style: groove;
}

.slide{
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 95%;
    /*height: 23%;*/
    /*padding: 10px;*/
    
    border-style: groove;
}

.texto{
    float: center;
    align-content: left;
    margin-right: 5px;
    display: flex;
}

.infoPrincipal{
    margin-top: 2em;
    text-align: left;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

.textoSecundario{
    text-align: left;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 0;
}

.infoTexto{
    text-align: justify;
    font-size: 15px;
}

.sinopsis{
    text-align: justify;
    font-size: 15px;
    display: flex;
}

.textoSec{
    /*margin-left: 5px;
    margin-right: 5px;*/
    text-align: justify;
    /*float: center;*/
}

.tituloSec{
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
}

.footText{
    text-align: justify;
    font-size: 15px;
    font-style: italic;
    margin-left: 1em;
}

.artSec{
    background-color:bisque;
    float: center;
    margin-top: 0.5em;
    border-style:double;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1em;
}



